$background-all: #DCE9E2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: DM SANS, sans-serif;
}

body {
    display: flex;
    background-color: $background-all;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}